@(currentPage: com.avaje.ebean.Page[Product])
<div class="container">
	@main("Product catalogue"){
	<script>
		function del(url) {
			$.ajax({
				url : url,
				type : 'DELETE',
				success : function() {
					location.reload();
				}
			});

		}
	</script>
	<table class="table table-scriped">
		<thead>
			<tr>
				<th>EAN</th>
				<th>Name</th>
				<th>Desc</th>
			</tr>
		</thead>
		<tbody>
			@for(product <- currentPage.getList) {
			<tr>
				<td><a href="@routes.Products.details(product)">
						@product.ean </a></td>
				<td>@product.name </a></td>
				<td>@product.description </a></td>
				<td><a href="@routes.Products.details(product)"><i class="glyphicon glyphicon-pencil"></i></a>
				<a onclick="del('@routes.Products.delete(product.ean)')"
					style="cursor: pointer"> <span class="glyphicon glyphicon-trash"></span>
				</a></td>
			</tr>
			}
		</tbody>

	</table>
	<div id="pagination" class="pagination">
    <ul class="pagination">
        @if(currentPage.hasPrev) {
            <li class="prev">
                <a href="@routes.Products.list(currentPage.getPageIndex - 1)">&larr; </a>
            </li>
        } else {
            <li class="prev disabled">
                <a>&larr;</a>
            </li>
        }
        <li class="current">
            <a>@currentPage.getDisplayXtoYofZ(" - "," / ")</a>
        </li>
        @if(currentPage.hasNext) {
            <li class="next">
                <a href="@routes.Products.list(currentPage.getPageIndex + 1)"> &rarr;</a>
            </li>
        } else {
            <li class="next disabled">
                <a>&rarr;</a>
            </li>
        }
    </ul>
</div>
	
 <a href="@routes.Products.newProduct()" class="btn btn-primary">
		<i class="glyphicon glyphicon-plus"></i> Nowy produkt
	</a>
</div>

}