@(productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._
@main("Product form") {
<h1>Product form</h1>
@helper.form(action = routes.Products.save()) {
<fieldset> 
<legend>Product (@productForm("name").valueOr("New"))</legend>
<input name="id" type="hidden" value="@productForm("id").valueOr("")"/>
@helper.inputText(productForm("ean"), 'label -> "ssssss")
@helper.inputText(productForm("name"))
@helper.textarea(productForm("description"))
</fieldset>
<input type="submit" class="btn primary">
}
}
<a class="btn btn-warning" href="@routes.Products.list()">Powrot</a>

	